h1 {
  font-weight: bold;
}

h6 {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

p {
  text-align: left;
  padding-left: 40px;
  padding-right: 200px;
}
.alert {
  border-radius: 30px;
}

i {
  font-size: 24px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 200px;
  border-radius: 15px;
}

button:hover {
  opacity: 0.8;
}

/*   ********************************************* N A V B A R *********************************/
.navbar {
  padding-left: 12%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-toggler {
  width: 50px;
  background-color: grey;
  color: black;
}

ul li {
  font-weight: bold;
  text-align: center;
}

ul li a {
  color: white;
  padding-left: 10px;
}

/*   ********************************************* N A V B A R *********************************/
span {
  font-size: 9px;
  color: black;
}

.fa-github {
  font-size: 18px;
}

/*   ********************************************* S P A N  *********************************/
/*   ********************************************* H O M E  *********************************/
#home1, #home2, #home3 {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
}

#home1 {
  background-image: url("springboot.PNG");
}

#home2 {
  background-image: url("typescript.PNG");
}

#home3 {
  background-image: url("controller.PNG");
}

.tvzButton {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

#tvzNewsFeed {
  margin: 0 auto;
  width: 100%;
  height:300px;
  overflow: auto;
}

#closeTVZbutton {
  background-color: gray;
  font-size: 30px;
  border-radius: 50%;
}

/*   ********************************************* H O M E  *********************************/
/*   ********************************************* B I O G R A P H Y  *********************************/
#biographyDiv {
  background-image: url('bioDrawing.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

#psw {
  width: 200px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

#selectBio {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  font-weight: bold;
  background-color: grey;
  color: white;
}

#sesame {
  height: 300px;
  background-image: url("opensesame.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
}

#bio {
  background-color: #F8F8F8;
}

/*   ********************************************* B I O G R A P H Y  *********************************/
/*   ********************************************* C O N V E R T E R  *********************************/
.content {
  background-size: cover;
  background-repeat: no-repeat;
}

#boldP {
  font-weight: bold;
  padding-left: 0px;
  margin: 0;
}

#converterDateField {
  margin-top: 30px;
  width: 300px;
}

#conv {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}

#p{
  padding-left: 150px;
  font-weight: bold;
}

#pSwapIcon {
  cursor: pointer;
}

#slc {
  margin-left: 150px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  font-weight: bold;
}

#amountInput {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  font-weight: bold;
}

#converterAmountInput {
  margin-top: 30px;
  width: 300px;
}

#submitConverter {
  margin-bottom: 20px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  font-weight: bold;
  background-color: grey;
  color: white;
}

#spanConversionResult {
  font-weight: bolder;
  font-size: 20px;
  color: #ed5f5f;
}

#spanStatistics {
  font-weight: bold;
  font-size: 14px;
  color: grey;
}

#canvasSelect {
  width: 30%;
  padding-left: 10px;
}

.fa-exchange{
  margin: 10px;
}
/*   ********************************************* C O N V E R T E R  *********************************/
/*   ********************************************* W E A T H E R  *********************************/
#weatherInputRow {
  margin-bottom: 10px;
}

.example-form {
  min-width: 120px;
  max-width: 300px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

#weatherRow {
  background-image: url('weatherDrawing.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
}

#weatherSecond {
  border-right: dashed 1px black;
}

.imageDiv {
  margin: 25px auto;
  height: 100px;
  width: 100px;
  border-radius: 15px;
  float: left;
}

.baseImage {
  height: 100px;
  width: 100px;
  border-radius: 15px;
}

#spanObservationWeather {
  font-weight: normal;
  font-size: 9px;
  color: grey;
}

.forecast {
  height: 90px;
  width: 140px;
  border-radius: 15px;
  float: left;
  margin-top: 10px;
}

#h1Temperature {
  font-size: 50px;
  color: black;
  font-weight: normal;
  padding-top: 15px;
  padding-left: 10px;
}

.weatherDescription, .feelsLike {
  margin: 25px auto;
  height: 100px;
  width: 200px;
  border-radius: 15px;
  float: left;
  overflow: hidden;
}

.feelsLike {
  height: 100%;
  padding-top: 50px;
}

#pWeatherDescription {
  color: darkgray;
  font-weight: bold;
}

#pFeelsLike {
  color: darkgray;
  font-weight: bold;
  font-size: 22px;
}

#h1Weather {
  font-size: 30px;
  color: black;
  font-weight: normal;
  padding-left: 40px;
}

#weatherImage {
  background-image: url("weatherImage.PNG");
  background-size: cover;
  border-radius: 15px;
  background-color: red;
}

/*   ********************************************* W E A T H E R  *********************************/
/*   ********************************************* E A R T H Q U A K E  *********************************/
#quakeDiv {
  height: 300px;
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: auto;
  margin-bottom: 10px;
}

.lista {
  margin: 0;
  padding: 0;
}

#spanMagnitude {
  color: #f03f32;
  font-size: 24px;
}

.lista span {
  color: white;
}

.quakeA:hover {
  cursor: pointer;
}

#liQuake {
  margin-top: 20px;
  text-align: left;
  width: 100%;
  background-color: #343a40;
  height: auto;
  min-height: 100px;
  min-width: 350px;
  list-style-type: none;
  border-radius: 5px;
  padding: 8px;
  color: #ed5f5f;
}

#quake {
  height: 300px;
  border-radius: 4px;
}

#hotel_map {
  height: 100%;
  width: 100%;
}


/*   ********************************************* E A R T H Q U A K E  *********************************/
/*   ********************************************* B O O K S H E L F  *********************************/

#signInBookshelf {
  height: 300px;
  min-width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
}

#databaseImage {
  background-image: url("bookshelf2.PNG");
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 4px;
}

.adminAutorised {
  background-image: url('reader.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.userAutorised {
  background-image: url('userDrawing.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

#borderLibrary {
  border-top: 1px dotted black;
}

#select, #selectSignIn, #extendLoanButton, #userExtendLoanButton {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  font-weight: bold;
  background-color: grey;
  color: white;
}

#formBackground {
  background-image: url('authDrawing.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
}

#signInButton {
  font-weight: bold;
}

#selectSignIn {
  display: inline-flex;
  align-items: center;
  padding-left: 70px;
}

#accountQuestion{
  font-weight: normal;
  font-size: 10px;
}

#registerSpan {
  font-size: 14px;
  font-weight: bold;
  color: #ed5f5f;
}

.close {
  width: 50px;
  height: 50px;
  border-radius: 0px;
  color: black;
}

a:hover #registerSpan {
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

#borrowedTable {
  overflow: auto;
  height: 350px;
}

#userExtendLoanButton {
  width: 50px;
  font-size: 8px;
  border-radius: 5px;
  margin-right: 10px;
  color: #343a40;
  background-color: white;
}

#bookshelfAdminRow {
  margin-top: 10px;
  margin-bottom: 20px;
  border-bottom: solid black 1px;
}

#admin1 {
  overflow: auto;
  height: 500px;
  min-width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
}

#admin2 {
  background-image: url('resultsDraving.jpeg');
  overflow: auto;
  height: 500px;
  min-width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
}

#admin3 {
  background-image: url('libraryDrawing.jpeg');
  overflow: auto;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
}

.addNewUser .addNewBook .deleteUser .debtors .returnTheBook {
  width: 100%;
  min-height: 50px;
  height: auto;
}

#li, #liLoanStatus {
  margin-top: 20px;
  text-align: left;
  width: 100%;
  background-color: #343a40;
  height: auto;
  min-height: 100px;
  min-width: 350px;
  list-style-type: none;
  border-radius: 5px;
  padding: 8px;
  color: #ed5f5f;
}

#liLoanStatus {
  min-height: 50px;
  margin-bottom: 10px;
  line-height: 90%;
}

.ngfor {
  min-height: 80px;
  max-height: 81px;
  width: 100px;
  background-image: url('bookNgFor.png');
  background-size: cover;
  display: inline;
  float: left;
}

.bookDescription {
  min-height: 80px;
  width: 70%;
  text-align: center;
  padding-left: 10px;
  display: inline-block
}

.bookDescription span {
  font-size: 10px;
  color: white;
  font-weight: bold;
}

#extendLoanButton {
  width: 50px;
  font-size: 8px;
  border-radius: 5px;
  margin-right: 10px;
  color: #343a40;
  background-color: white;
}

#debtorRow {
  margin-top: 10px;
  margin-bottom: 20px;
}

#thNarrow {
  width: 5%;
}

.mat-row:nth-child(even) {
  background-color: white;
}

.mat-row:nth-child(odd) {
  background-color: #eff5e1;
}

mat-cell.red {
  background-color: #edada8;
  align-self: stretch;
  line-height: 48px;
  color: green;
}

.mat-elevation-z8 {
  width: 100%;
}

td, th {
  width: 5%;
  font-size: 10px;
}

table {
  width: 100%;
}

#pLoanRequest{
  width: 50px;
  margin: 0;
  padding: 0;
}

.registerTemplate {
  background-image: url('register.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-top: 30px;
}
/*   ********************************************* B O O K S H E L F  *********************************/
/*   ********************************************* C O N T A C T  *********************************/
#contactDrawing {
  background-image: url('contactDrawing.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
}

#contactLabel {
  width: 100px;
}

#contactInput {
  width: 200px;
}

#textarea {
  width: 60%;
}

#contactImage {
  background-image: url("contactme.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 250px;
  border-radius: 4px;
}

#contactField {
  width: 350px;
}

#redSpan {
  color: #ed5f5f;
  font-weight: bold;
}
/*   ********************************************* C O N T A C T  *********************************/
/*****************************************************   X    O    *******************************/

#xoOne {
background-image: url('xo.jpeg');
background-repeat: no-repeat;
background-size: cover;
}

#xoTwo {
  align-items: center;
  padding-left: 50px;
  background-image: url('players.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
}

#xoThree {
  overflow: auto;
}

.xoScoreLabel {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.xoPreviousScoreLabel {
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: grey;
}

#previousScoreDiv {
  height: 20px;
}

.ticTacToeLabel {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.xoButton {
  color: #02046e !important;
  width: 100%;
  height: 100%;
  margin-top: 0;
  font-size: 70px;
  font-weight: bold;
  background-color: transparent;
  border-radius: 0px !important;
}

#xoButtonOne {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  color: black;
  height: 130px;
  width: 100%;
  }

#xoButtonTwo {
  border-bottom: 1px solid black;
  color: black !important;
  height: 130px;
  width: 100%;
}

#xoButtonThree {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  color: black;
  height: 130px;
  width: 100%;
}

#xoButtonFour {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  color: black;
  height: 130px;
  width: 100%;
}

#xoButtonFive {
  border-bottom: 1px solid black;
  color: black;
  height: 130px;
  width: 100%;
}

#xoButtonSix {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  color: black;
  height: 130px;
  width: 100%;
}

#xoButtonSeven {
  border-right: 1px solid black;
  color: black;
  height: 130px;
  width: 100%;
}

#xoButtonEight {
  color: black;
  height: 130px;
  width: 100%;
}

#xoButtonNine {
  border-left: 1px solid black;
  color: black;
  height: 130px;
  width: 100%;
}

/*****************************************************   X    O    *******************************/
/*   ********************************************* F O O T E R  *********************************/
#footerA {
  font-weight: bold;
}

#footerSpan {
  color: grey;
  font-size: 14px;
}

footer {
  height: 80px;
  width: 100%;
  margin: 0 auto;
  background-color: #25272b;
  text-align: center;
}

/*   ********************************************* F O O T E R  *********************************/
/*   ********************************************* M E D I A    Q U E R Y  *********************************/
@media screen and (max-width: 576px) {
  #borrowedTable {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  #sesame {
    width: 100%;
    height: 150px;
    margin-top: 10px;
  }

  #contactImage {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    background-size: cover;
  }

  #textarea {
    width: 100%;
  }

  #weatherImage {
    width: 100%;
    height: 150px;
  }

  #home1, #home2, #home3 {
    height: 150px;
    margin-bottom: 3px;
  }

  p {
    padding-left: 0;
    font-weight: normal;
    padding-right: 0;
    font-size: 10px;
  }

  .navbar {
    padding-left: 10px;
  }

  ul li {
    color: white;
    font-size: 24px;
    padding-left: 0px;
    margin: 0;
  }

  #conv {
    width: 100%;
  }

  #select {
    width: 100%;
  }

  #slc {
    margin-left: 0px;
  }

  #p {
    padding-left: 0px;
  }

  button {
    width: 80%;
  }

  #li {
    font-size: 10px;
  }

  #liQuake {
    font-size: 10px;
  }
}

@media screen and (max-width: 992px) {
  #weatherImage {
    width: 100%;
    height: 150px;
  }
}

/*
.checkmark__circle {
  stroke-dasharray: 66;
  stroke-dashoffset: 66;
  stroke-width: 1;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  stroke-width: 6;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
*/
