<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">zoran bajcer &nbsp;&nbsp;&nbsp;<i class="fa fa-spinner"></i></a>
  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="!isNavbarCollapsed" class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item"><a href="#home" (click)="collapseAll()">*home</a></li>
      <li class="nav-item"><a href="#biography" (click)="collapseAll()">*biography</a></li>
      <li class="nav-item"><a href="#converter" (click)="collapseAll()">*converter</a></li>
      <li class="nav-item"><a href="#weather" (click)="collapseAll()">*weather</a></li>
      <li class="nav-item"><a href="#earthquake" (click)="collapseAll()">*earthquake</a></li>
      <li class="nav-item"><a href="#bookshelf" (click)="collapseAll()">*bookshelf</a></li>
      <li class="nav-item"><a href="#contact" (click)="collapseAll()">*contact</a></li>
      <li class="nav-item"><a href="#xo" (click)="collapseAll()">*x/o</a></li>
      <li class="nav-item"><a href="https://github.com/zbajcer?tab=repositories" target="_blank" (click)="collapseAll()">*github&nbsp;&nbsp;<i class="fa fa-github"></i></a></li>
    </ul>
  </div>
</nav><a name="home"></a>

<!--  /*   ********************************************* N A V B A R *********************************/-->

<!--  /*   ********************************************* H O M E  *********************************/-->
<br><br><br>
<div class="container">
  <h1>&home</h1>
  <div class="row" *ngIf="!tvz">
    <div class="col-sm-12 col-md-4" id="home1"></div>
    <div class="col-sm-12 col-md-4" id="home2">
      <button type="button" name="button" class="tvzButton" (click)="fetchTVZrssFeed()"></button>
    </div>
    <div class="col-sm-12 col-md-4" id="home3"></div>
  </div>
  <div class="row" *ngIf="tvz">
    <button type="button" class="close" aria-label="Close" (click)="tvz = false" id="closeTVZbutton">&times;</button>
    <div class="col-sm-12" id="tvzNewsFeed">
      <ul class="lista">
        <li id="liQuake" *ngFor="let article of tvzJSON">
          <h6>{{article.title}}</h6>
          <a>{{article.description}}</a>
          <p>{{article.pubDate}}</p>
          <p>{{article.link}}</p>
        </li>
      </ul>
    </div>
  </div>
</div><a name="biography"></a>
<hr><br>
<!--  /*   ********************************************* H O M E  *********************************/-->

<!--  /*   ********************************************* B I O G R A P H Y  *********************************/-->

<div class="container">
  <h1>&biography</h1>
  <div class="row">
    <div class="col-sm-12 col-lg-6" id="biographyDiv">
      <br>
      <form [formGroup]="myForm">
        <mat-form-field>
          <input matInput type="password" placeholder="password" formControlName="firstName" required #bioPsw maxlength="50" id="pswFieldBiography">
        </mat-form-field>
      </form><span>{{bioSubmitMessage}}</span>
      <input type="submit" name="btnBio" id="selectBio" *ngIf="(approval != true)" class="form-control" (click)="PasswordAutorisation(bioPsw.value)" value="Open biography">
      <input type="submit" name="btnBio" id="selectBio" *ngIf="(approval == true)" class="form-control" (click)="(approval = false)" value="Hide">
    </div>
    <div class="col-sm-12 col-lg-6" id="sesame">
    </div>
  </div>
</div>
<div class="container" id="bio" *ngIf="(approval == true)">
  <hr><br>
  <h6>Education:</h6>
  <p>
    Osnovna škola Augusta Cesarca u Krapini – 8 years <br>
    Srednja škola Zlatar - from 2006. to 2010. <br>
    <span>&#9867;</span>Occupation : Post and telecommunicatios technician <br>
    Tehničko veleučilište u Zagrebu - from 2018. <br>
    <span>&#9867;</span>Occupation : e-Business, IT <br>
    Additional knowledge: <br>
    <span>&#9867;</span>English - 9/10 <br>
    <span>&#9867;</span>German language – 3/10 <br>
    <span>&#9867;</span>Programming - Java, SpringBoot, Angular, Typescript, HTML, CSS, SQL
  </p><br><br>
  <hr><br>
  <h6>Work experience:</h6>
  <p>
    Jari d.o.o. (shift manager ) -2011-2017 <br>
    Prostoria d.o.o. (CNC operator) - 2017 <br>
    Stražaplastika d.d. (shift manager) - 2017-2018 <br>
    Generali Osiguranje d.d. (Web developer) - 2018-2019 <br>
  </p><br>
  <hr><br>
  <h6>Web development:</h6>
  <p>Since December of 2018 I work in Generali Osiguranje d.d. as web developer. I maintain and develop existing
    insurence application. Programming is also my favourite hobby. In free time I developed this great application
    in Angular framework. It is great because of backend which is developed in Java SpringBoot. It is also connected
    to MySQL database. In the section "Currency converter" you can choose currency list by date and my app is dinamicaly
    checking if the choosen currency by date exists in database. If doesnt exist, it connects to HNB web api, downloads
    currency in JSON, store values in database and proceeds with serving those currencyes to frontend, Angular. I have
    also implemented statistics. On every click it updates counter of each chosen start value.
  </p>
  <p>I have also developed some simple apps which you can find on my <a href="https://github.com/zbajcer?tab=repositories" target="_blank">GitHub</a> account.</p>
  <br>
  <br>
  <hr><br>
</div><a name="converter"></a>
<!--/*   ********************************************* B I O G R A P H Y  *********************************/-->

<!--  /*   ********************************************* C O N V E R T E R  *********************************/-->

<br>
<hr><br>
<div class="container">
  <h1>&currency converter</h1>
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="content" role="main">
        <form [formGroup]="myForm">
          <mat-form-field color="accent" appearance="fill" id="converterDateField">
            <mat-label>Choose wisely</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="materialDatePicker" #picker (dateChange)='sendDateToService(picker.value, false)' (dateChange)='getConverterData()'>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
          </mat-form-field><br><br>
        </form>
        <form>
          <mat-form-field>
            <mat-label>Start value</mat-label>
            <mat-select #firstSelects placeholder="start value" [(ngModel)]='prviSelekt' name="hrenks">
              <mat-option *ngFor="let a of parsedJson" (click)="firstSelectValues(a.Jedinica, a.Valuta)" (click)="getAllStatistics(7,canvasInterval,a.Valuta)" [(value)]="a.Srednji">
                {{a.SelectOption}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <a id="pSwapIcon" (click)="swapOption(prviSelekt, drugiSelekt, iznosZaPreracun)"><i class="fa fa-exchange"></i></a>
          <mat-form-field>
            <mat-label>End value</mat-label>
            <mat-select #secondSelects placeholder="end value" [(ngModel)]='drugiSelekt' name="hrenks2">
              <mat-option *ngFor="let a of parsedJson" (click)="secondSelectValues(a.Jedinica, a.Valuta)" [(value)]="a.Srednji">
                {{a.SelectOption}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="amount" #inputValue [(ngModel)]="iznosZaPreracun" name="preracun" id="converterAmountInput">
            </mat-form-field>
          </form>
        </form>
        <input type="submit" name="btn" class="form-control" id="submitConverter" value="Calculate" (click)="calculation(prviSelekt, drugiSelekt, inputValue.value)">
        <p id="boldP">Result of conversion is &nbsp;&nbsp;&nbsp;&nbsp;
          <span id="spanConversionResult">{{rezultat}} {{valutaEndView}}</span></p>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div>
        <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels2" [options]="barChartOptions2" [colors]="barChartColors2" [legend]="barChartLegend2" [chartType]="barChartType2">
        </canvas>
        <mat-select #canvasSelect [(ngModel)]='canvasInterval' name="canvas" id="canvasSelect">
          <mat-option *ngFor="let canvasValue of canvasValues, let i = index" [(value)]="canvasValues[i]" (click)="reloadCanvas(canvasInterval)">
            {{canvasValue}}<span id="spanStatistics"> days</span>
          </mat-option>
        </mat-select>
      </div>
      <hr>
      <p><span id="spanStatistics">Overall:</span> {{mostCommonOverallStatistic}} is most common start currency!</p>
      <p><span id="spanStatistics">{{canvasInterval}} days:</span> {{mostCommonIntervalStatistic}} is most common start currency within last {{canvasInterval}} days!</p>
      <hr>
    </div>
  </div>
<a (click)="currListBoolean()" id="registerSpan" *ngIf="(currList == true)"><span id="registerSpan">Hide currency list!</span></a>
<a (click)="currListBoolean()" id="registerSpan" *ngIf="(currList == false)"><span id="registerSpan">Show currency list!</span></a>
  <div class="row" *ngIf="(currList == true)">
    <hr><br>
    <div class="col-md-12">
      <div>
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
      </div>
    </div>
    <br><hr>

  </div>

  <!--  /*   ********************************************* C O N V E R T E R  *********************************/-->

  <!--  /*   ********************************************* W E A T H E R  *********************************/-->

</div><a name="weather"></a>
<br>
<hr><br>
<div class="container">
  <h1>&weather</h1>
  <div class="row" id="weatherInputRow">
    <div class="col-sm-12">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>City:</mat-label>
          <input matInput placeholder="npr. London" name="grad" #cityWeather (change)='weatherCity(cityWeather.value)'>
        </mat-form-field>
        <span>{{weatherFailMessage}}</span>
      </form>
    </div>
  </div>
  <div class="row" id="weatherRow">
    <div class="col-6 col-sm-6 col-md-3 col-lg-2">
      <h2>{{queryWeather}}</h2>
      <div class="imageDiv">
        <img [src]="base64Image" class="baseImage" />
        <span id="spanObservationWeather">&nbsp;&nbsp;{{observationWeather}}</span>
      </div>
      <div class="forecast">
        <h1 id="h1Temperature">{{temperatureWeather}}&#8451;</h1>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-3 col-lg-2" id="weatherSecond">
      <div class="weatherDescription">
        <p id="pWeatherDescription">{{descriptionWeather}}</p>
      </div>
      <div class="feelsLike">
        <p>Feels like</p>
        <p id="pFeelsLike">{{feelslikeWeather}}&#8451;</p>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-3 col-lg-2">
      <div class="forecast">
        <p>Wind direction</p>
        <h1 id="h1Weather">{{wind_directionWeather}}</h1>
      </div>
      <div class="forecast">
        <p>UV&nbsp;index</p>
        <h1 id="h1Weather">{{uvWeather}}</h1>
      </div>
      <div class="forecast">
        <p>Pressure</p>
        <h1 id="h1Weather">{{pressureWeather}}<span>mb</span></h1>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-3 col-lg-2">
      <div class="forecast">
        <p>Wind speed</p>
        <h1 id="h1Weather">{{wind_speedWeather}}<span>km/h</span></h1>
      </div>
      <div class="forecast">
        <p>Humidity</p>
        <h1 id="h1Weather">{{humidityWeather}}<span>%</span></h1>
      </div>
      <div class="forecast">
        <p>Cloudcover</p>
        <h1 id="h1Weather">{{cloudcoverWeather}}<span>%</span></h1>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4" id="weatherImage">
    </div>
  </div>
  <a (click)="weatherHistoryFlag()" id="registerSpan" *ngIf="(weatherHistory == true)"><span id="registerSpan">Hide search history!</span></a>
  <a (click)="getWeatherHistory()" (click)="weatherHistoryFlag()" id="registerSpan" *ngIf="(weatherHistory == false)"><span id="registerSpan">Show search history!</span></a>
  <div class="row" [hidden]="(weatherHistory == false)" id="debtorRow">
    <div class="col-md-12">
      <h6>Weather search history</h6>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyWeatherHistoryFilter($event)" placeholder="Ex. Zagreb" #input id="event">
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceWeatherHistory" matSort #TableWeatherHistorySort="matSort">
          <ng-container matColumnDef="query">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Query </th>
            <td mat-cell *matCellDef="let row"> {{row.query}} </td>
          </ng-container>
          <ng-container matColumnDef="observationTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Obs. time </th>
            <td mat-cell *matCellDef="let row"> {{row.observationTime}} </td>
          </ng-container>
          <ng-container matColumnDef="temperature">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Temp </th>
            <td mat-cell *matCellDef="let row"> {{row.temperature}}&#8451; </td>
          </ng-container>
          <ng-container matColumnDef="windSpeed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 5%;"> Wind speed </th>
            <td mat-cell *matCellDef="let row" style="width: 5%;"> {{row.windSpeed}} </td>
          </ng-container>
          <ng-container matColumnDef="windDirection">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Wind dir. </th>
            <td mat-cell *matCellDef="let row"> {{row.windDirection}} </td>
          </ng-container>
          <ng-container matColumnDef="pressure">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Pressure </th>
            <td mat-cell *matCellDef="let row"> {{row.pressure}} </td>
          </ng-container>
          <ng-container matColumnDef="precipitation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precip. </th>
            <td mat-cell *matCellDef="let row"> {{row.precipitation}} </td>
          </ng-container>
          <ng-container matColumnDef="humidity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Humidity </th>
            <td mat-cell *matCellDef="let row"> {{row.humidity}} </td>
          </ng-container>
          <ng-container matColumnDef="cloudcover">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Clouds </th>
            <td mat-cell *matCellDef="let row"> {{row.cloudcover}} </td>
          </ng-container>
          <ng-container matColumnDef="feelsLike">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Feels like </th>
            <td mat-cell *matCellDef="let row"> {{row.feelsLike}}&#8451; </td>
          </ng-container>
          <ng-container matColumnDef="uvIndex">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> uvIndex </th>
            <td mat-cell *matCellDef="let row"> {{row.uvIndex}} </td>
          </ng-container>
          <ng-container matColumnDef="visibility">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Visibility </th>
            <td mat-cell *matCellDef="let row"> {{row.visibility}} </td>
          </ng-container>
          <ng-container matColumnDef="isDay">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> isDay </th>
            <td mat-cell *matCellDef="let row"> {{row.isDay}} </td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let row"> {{row.date}} </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedWeatherHistoryColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedWeatherHistoryColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator #TableWeatherHistoryPaginator="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
  <br>
  <br>
</div><br>
<!--/*   ********************************************* W E A T H E R  *********************************/ -->

<!-- /*   ********************************************* E A R T H Q U A K E  *********************************/-->
<a name="earthquake"></a>
<hr><br>
<div class="container">
  <h1>&earthquake</h1>
  <div class="row">
    <div class="col-sm-12 col-lg-6" id="quakeDiv">
      <ul class="lista">
        <li id="liQuake" *ngFor="let place of quakePlace">
          <a class="quakeA" (click)='showEarthquake(place.longitude, place.latitude)'>{{place.time}}<br>{{place.place}} <br>
            <span id="spanMagnitude">{{place.magnitude}}</span><span>&nbsp;richter</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{place.depth}}<span>&nbsp;km of depth&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>alert: </span>{{place.alert}}</span></a>
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-lg-6" id="quake">
      <div id="hotel_map"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    

    <div class="col-sm-12 col-lg-6">
      <form>
      <mat-form-field>
        <mat-label>Alert level</mat-label>
        <mat-select #alertSelect placeholder="alert" name="minAlert" [(ngModel)]='ngAlertLevel' name="alertColor">
          <mat-option *ngFor="let alert of alertLevel" (click)='changeAlertLevel(alert.alert)' [(value)]="alert.alert">
            {{alert.alert}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </form>
    </div>
    <div class="col-sm-12 col-lg-6" id="quakeColorsExplained">

    </div>


  </div>
</div>
<hr>
<a name="bookshelf"></a><br><br>
<br>
<!-- /*   ********************************************* E A R T H Q U A K E  *********************************/ -->

<!-- /*   ********************************************* B O O K S H E L F  *********************************/ -->

<div class="container">
  <h1>&bookshelf</h1><br>
  <div class="row">
    <div class="col-sm-12 col-md-4" id="signInBookshelf">
      <div class="adminAutorised" [hidden]="(bsApproval != 'OK' || bsAdmin != 'true')">
        <h2>admin: {{authenticationUser}}</h2>
        <hr id="borderLibrary">
        <h4>{{userFirstName}}&nbsp;{{userLastName}}</h4>
        <hr id="borderLibrary">
        <h4>no. of debtors: {{numberOfDebtors}}</h4>
        <hr id="borderLibrary">
        <input type="submit" class="form-control" id="select" value="Sign Out" (click)="(bsApproval = 'false')" (click)="(loading = false)" (click)="(userLoanInput = '')" (click)="getLoanBooks('123')">
      </div>
      <div class="userAutorised" [hidden]="(bsApproval != 'OK' || bsAdmin == 'true')">
        <h2>User: {{authenticationUser}}</h2>
        <hr id="borderLibrary">
        <h4>{{userFirstName}}&nbsp;{{userLastName}}</h4>
        <hr id="borderLibrary">
        <h6>Overall debit is {{userDebit}} kn</h6>
        <hr id="borderLibrary">
        <input type="submit" class="form-control" id="select" value="Sign Out" (click)='bsApproval = "false"' (click)='loading = false' (click)="getLoanBooks('123')">
      </div>
      <form [hidden]="(bsApproval == 'OK')" action="/action_page.php" method="post" id="formBackground">
        <div class="container">
          <div class="col-sm-12">
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>Username:</mat-label>
                <input matInput placeholder="npr. James Carrey" #username>
              </mat-form-field>
            </form>
          </div>
          <div class="col-sm-12">
            <form [formGroup]="signin" class="example-form">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" #bookshelfPassword required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-hint *ngIf="!passwordInput.value">Enter your password</mat-hint>
              </mat-form-field>
            </form>
          </div>
          <div class="col-sm-12" id="signInButton">
            <span>{{userMessage}}</span>
            <button type="submit" class="form-control" id="selectSignIn" value="Sign In" (click)="bookshelfAuth(username.value, bookshelfPassword.value)">
              Sign in&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
            </button><br>
            <mat-label id="accountQuestion">You dont have account?</mat-label>
            &nbsp;&nbsp;&nbsp;&nbsp;<a (click)="open(content)" id="registerSpan"><span id="registerSpan">Register!</span></a>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-12 col-md-8" id="databaseImage" [hidden]="(bsApproval == 'OK' && bsAdmin == 'false')"></div>
    <!-- ========================   ============================================================   R O W    of    U S E R             -->
    <!-- ========================   ============================================================   R O W    of    U S E R             -->
    <!-- ========================   ============================================================   R O W    of    U S E R             -->
    <!-- ========================   ============================================================   R O W    of    U S E R             -->
    <!-- ========================   ============================================================   T A B L E   OF  B O R R O W E D   B O O K S             -->
    <div class="col-sm-12 col-md-8" id="borrowedTable" [hidden]="(bsApproval != 'OK' || bsAdmin == 'true')">
      <h4>Borrowed by {{userFirstName}}&nbsp;{{userLastName}}</h4>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceBorrowed" matSort #TableBorrowedSort="matSort">
          <ng-container matColumnDef="bid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Book ID </th>
            <td mat-cell *matCellDef="let row"> {{row.bid}} </td>
          </ng-container>
          <ng-container matColumnDef="authorLastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
            <td mat-cell *matCellDef="let row"> {{row.authorLastName}} </td>
          </ng-container>
          <ng-container matColumnDef="bookTitle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
            <td mat-cell *matCellDef="let row"> {{row.bookTitle}} </td>
          </ng-container>
          <ng-container matColumnDef="issuedDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 5%;"> Issued date </th>
            <td mat-cell *matCellDef="let row" style="width: 5%;"> {{row.issuedDate}} </td>
          </ng-container>
          <ng-container matColumnDef="period">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Period </th>
            <td mat-cell *matCellDef="let row"> {{row.period}} </td>
          </ng-container>
          <ng-container matColumnDef="fine">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FINE (kn) </th>
            <td mat-cell *matCellDef="let row"> {{row.fine}} </td>
          </ng-container>
          <ng-container matColumnDef="warning">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Warning </th>
            <td mat-cell *matCellDef="let row" [ngStyle]="{'background-color':row.warning == 'THIRD' ? '#edada8' : 'none' }"> {{row.warning}} </td>
          </ng-container>
          <ng-container matColumnDef="extend">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Extend request </th>
            <td mat-cell *matCellDef="let row">
              <input type="submit" name="button" class="FormControl" [hidden]="row.extend == 'SENT' || row.extend == 'EXTENDED' || row.fine != '0'" id="userExtendLoanButton" value="+30 days"
                (click)="extendLoanUserRequest(authenticationUser,row.bid)" />
              <p id="pLoanRequest" [hidden]="row.extend != 'SENT' && row.extend != 'EXTENDED'">{{row.extend}}</p>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedBorrowedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedBorrowedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator #TableBorrowedPaginator="matPaginator" [pageSizeOptions]="[3 , 2 , 1]"></mat-paginator>
      </div>
    </div>
  </div>
  <!-- ========================   ========================     R O W    of    A D M I N             -->
  <!-- ========================   ========================     R O W    of    A D M I N             -->
  <!-- ========================   ========================     R O W    of    A D M I N             -->
  <!-- ========================   ========================     R O W    of    A D M I N             -->
  <!-- ========================    ========================    R O W    of    A D M I N             -->
  <div class="row" id="bookshelfAdminRow" [hidden]="(bsApproval != 'OK' || bsAdmin != 'true')">
    <div class="col-sm-12 col-md-4" id="admin1">
      <hr id="borderLibrary">
      <input type="submit" class="form-control" id="select" value="Return the book" (click)="openFormAdmin('returnBook')">
      <div class="returnTheBook" [hidden]="(returnBookButton == 'INACTIVE')">
        <h4>Return the book:</h4>
        <mat-form-field class="example-full-width"><br>
          <mat-label>Book ID</mat-label>
          <input matInput placeholder="npr. 47856214587" #returnedBook [(ngModel)]="bookReturnInput" name="inputReturnBookID">
        </mat-form-field>
        <input type="submit" class="form-control" id="select" value="Return" (click)="returnBook(returnedBook.value)">
        <span>{{returnBookNotification}}</span>
      </div>
      <hr id="borderLibrary">
      <input type="submit" class="form-control" id="select" value="Add new book" (click)="openFormAdmin('addBook')">
      <div class="addNewBook" [hidden]="(newBookButton == 'INACTIVE')">
        <h4>Add new book:</h4>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Book title</mat-label>
            <input matInput placeholder="npr. Little prince" #bookTitle required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Writer last name</mat-label>
            <input matInput placeholder="npr. Dostojevski" #bookWriterLastName required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Writer first name</mat-label>
            <input matInput placeholder="npr. Fjodor Mihajlović" #bookWriterFirstName required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Book genre</mat-label>
            <input matInput placeholder="npr. selfhelp" #bookGenre required>
          </mat-form-field>
          <input type="submit" class="form-control" id="select" value="Add book" (click)="bookshelfAddBook(bookTitle.value, bookWriterLastName.value, bookWriterFirstName.value, bookGenre.value)">
          <span>{{bookAddedNotification}}</span>
        </form>
      </div>
      <hr id="borderLibrary">
      <input type="submit" class="form-control" id="select" value="Add new user" (click)="openFormAdmin('newUser')">
      <div class="addNewUser" [hidden]="(newUserButton == 'INACTIVE')">
        <h4>Add new user:</h4>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="user/admin" #newUserAdmin>
              <mat-option value="user">user</mat-option>
              <mat-option value="administrator">administrator</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput placeholder="npr. chiwaba" #newUserUsername required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>New password</mat-label>
            <input matInput placeholder="npr. *******" #newUserPassword required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput placeholder="npr. Vladimir" #newUserFirstname required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Last name</mat-label>
            <input matInput placeholder="npr. Putin" #newUserLastName required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Telephone</mat-label>
            <input matInput placeholder="npr. 10460340513" #newUserTelephone required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="sample@gmail.com" #newUserEmail required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <input matInput placeholder="npr. Russia, Krasnodar" #newUserAddress>
          </mat-form-field>
          <input type="submit" class="form-control" id="select" value="Add user"
            (click)="bookshelfAddUser(newUserAdmin.value, newUserUsername.value, newUserPassword.value, newUserFirstname.value, newUserLastName.value, newUserTelephone.value, newUserAddress.value, newUserEmail.value)">
          <span>{{addNewUserMessage}}</span>
        </form>
      </div>
      <hr id="borderLibrary">
      <input type="submit" class="form-control" id="select" value="Delete user" (click)="openFormAdmin('deleteUser')">
      <div class="deleteUser" [hidden]="(deleteUserButton == 'INACTIVE')">
        <br>
        <h4>Delete user <i class="fa fa-exclamation-triangle"></i></h4>
        <form class="example-form">
          <mat-form-field class="example-full-width"><br>
            <mat-label>User ID</mat-label>
            <input matInput placeholder="npr. 47856214587" #deleteUser required [(ngModel)]="deleteUserInputField" name="deleteuserinput">
          </mat-form-field>
          <input type="submit" class="form-control" id="select" value="Delete" (click)="deleteUserFunc(deleteUserInputField)">
          <span>{{deleteUserMessage}}</span>
        </form>
      </div>
      <hr id="borderLibrary">
      <input type="submit" class="form-control" id="select" value="See all debtors" (click)="openFormAdmin('debtors')" [hidden]="(debtorButton == 'ACTIVE')">
      <input type="submit" class="form-control" id="select" value="Hide debtors table" (click)="openFormAdmin('debtors')" [hidden]="(debtorButton == 'INACTIVE')">
      <hr id="borderLibrary">
    </div>


    <div class="col-sm-12 col-md-4" id="admin2">
      <hr id="borderLibrary">
      <h4>User loan status</h4>
      <hr id="borderLibrary">
      <form class="example-form">
        <ul class="lista" [hidden]="(userNotFound == '')">
          <li id="liLoanStatus">{{userNotFound}}<br>
            <br>{{verifiedName}}&nbsp;{{verifiedSurname}}&nbsp;&nbsp;
            <br><span>{{verifiedAddress}}</span>
            <br><span>tel:&nbsp;&nbsp;{{verifiedTelephone}}
              <br> e-mail:&nbsp;&nbsp;{{verifiedEmail}} </span></li>
        </ul>
        <mat-form-field class="example-full-width" name="userLoanBook">
          <mat-label>User ID</mat-label>
          <input matInput placeholder="npr. 4578457874" name="inputUserID" #userLoan [(ngModel)]="userLoanInput">
          <span>{{verifyUserNotification}}</span>
        </mat-form-field>
        <input type="submit" class="form-control" id="select" value="Verify user" (click)='getLoanBooks(userLoanInput)' (click)='verifyUser(userLoanInput)'>
        <hr id="borderLibrary">
        <mat-form-field class="example-full-width">
          <mat-label>Book ID</mat-label>
          <input matInput placeholder="npr. 47856214587" #bookLoan name="inputBookID" [(ngModel)]="bookLoanInput">
        </mat-form-field>
        <input type="submit" class="form-control" id="select" value="Loan book" (click)="postLoanBook(userLoanInput, bookLoan.value)">
        <span>{{loanBookMessage}}</span>
        <hr id="borderLibrary">
      </form>

    </div>
    <div class="col-sm-12 col-md-4" id="admin3">
      <ul class="lista">
        <li id="li" *ngFor="let loan of parseLoanBooks">
          <div class="ngfor">
          </div>
          <div class="bookDescription">
            <span>{{loan.bid}}</span><br>
            {{loan.book}}<br>
            {{loan.issuedDate}}<br>
            <input type="submit" name="button" class="FormControl" id="extendLoanButton" value="+30 days" (click)="extendLoan(userLoanInput, loan.bid)" />
            {{loan.period}} <span>days</span>&nbsp;{{loan.fine}}&nbsp;<span>kn</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- ========================********************************      R O W    of    D E P T O R S    T A B L E *****************-->
  <!-- ========================********************************      R O W    of    D E P T O R S    T A B L E *****************-->
  <!-- ========================********************************      R O W    of    D E P T O R S    T A B L E *****************-->
  <!-- ========================********************************      R O W    of    D E P T O R S    T A B L E *****************-->
  <!-- ========================********************************      R O W    of    D E P T O R S    T A B L E *****************-->
  <div class="row" [hidden]="(bsApproval != 'OK' || bsAdmin != 'true' || debtorButton != 'ACTIVE')" id="debtorRow">
    <div class="col-md-12">
      <h6>Table of debtors</h6>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Kule u zraku" #input id="event">
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceBook" matSort #TableDebtorsSort="matSort">
          <ng-container matColumnDef="bid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Book ID </th>
            <td mat-cell *matCellDef="let row"> {{row.bid}} </td>
          </ng-container>
          <ng-container matColumnDef="uid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> User ID </th>
            <td mat-cell *matCellDef="let row"> {{row.uid}} </td>
          </ng-container>
          <ng-container matColumnDef="authorFirstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.authorFirstName}} </td>
          </ng-container>
          <ng-container matColumnDef="authorLastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Surname </th>
            <td mat-cell *matCellDef="let row"> {{row.authorLastName}} </td>
          </ng-container>
          <ng-container matColumnDef="bookTitle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
            <td mat-cell *matCellDef="let row"> {{row.bookTitle}} </td>
          </ng-container>
          <ng-container matColumnDef="period">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="thNarrow"> Period </th>
            <td mat-cell *matCellDef="let row" style="width: 5%;"> {{row.period}} </td>
          </ng-container>
          <ng-container matColumnDef="issuedDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="thNarrow"> Issued date </th>
            <td mat-cell *matCellDef="let row" style="width: 5%;"> {{row.issuedDate}} </td>
          </ng-container>
          <ng-container matColumnDef="fine">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="thNarrow"> Fine </th>
            <td mat-cell *matCellDef="let row" style="width: 5%;"> {{row.fine}} </td>
          </ng-container>
          <ng-container matColumnDef="warning">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="thNarrow"> Warning </th>
            <td mat-cell *matCellDef="let row" id="thNarrow"> {{row.warning}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedBookColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedBookColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator #TableDebtorsPaginator="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>

  </div>
  <!-- ============================================ T A B L E =============================== L  O O K    F O R    T H E     B O O K-->
  <!-- ============================================ T A B L E =============================== L  O O K    F O R    T H E     B O O K-->
  <!-- ============================================ T A B L E =============================== L  O O K    F O R    T H E     B O O K-->
  <!-- ============================================ T A B L E =============================== L  O O K    F O R    T H E     B O O K-->
  <!-- ============================================ T A B L E =============================== L  O O K    F O R    T H E     B O O K-->
  <!-- ============================================ T A B L E =============================== L  O O K    F O R    T H E     B O O K-->
  <div class="row" [hidden]="(bsApproval != 'OK')">
    <div class="col-md-12">
      <h6>Look for the book </h6>
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyLookBookFilter($event)" placeholder="Ex. Umijeće ratovanja" #input>
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSourceLookBook" matSort #TableLookBookSort="matSort">
          <ng-container matColumnDef="bid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Book ID </th>
            <td mat-cell *matCellDef="let row"> {{row.bid}} </td>
          </ng-container>
          <ng-container matColumnDef="authorFirstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.authorFirstName}} </td>
          </ng-container>
          <ng-container matColumnDef="authorLastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Surname </th>
            <td mat-cell *matCellDef="let row"> {{row.authorLastName}} </td>
          </ng-container>
          <ng-container matColumnDef="bookTitle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
            <td mat-cell *matCellDef="let row"> {{row.bookTitle}} </td>
          </ng-container>
          <ng-container matColumnDef="bookGenre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Genre </th>
            <td mat-cell *matCellDef="let row"> {{row.bookGenre}} </td>
          </ng-container>
          <ng-container matColumnDef="issuedDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="thNarrow"> Issued date </th>
            <td mat-cell *matCellDef="let row" [ngStyle]="{'background-color':row.issuedDate == 'borrowed' ? '#edada8' : 'none' }" id="thNarrow"> {{row.issuedDate}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedLookBookColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedLookBookColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator #TableLookBookPaginator="matPaginator" [pageSizeOptions]="[5,10,15,25,50,100]"></mat-paginator>
      </div>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Register to Bookshelf</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearModalFields()" (click)="modal.dismiss('Cross click')" #closebutton>&times;</button>
    </div>
    <div class="modal-body" class="registerTemplate">
      <form [formGroup]="myForm" autocomplete="off">
        <mat-form-field>
          <input matInput placeholder="name" formControlName="nameOfOurLovelyUser" required #newFirstName maxlength="50">
        </mat-form-field><br><br>
        <mat-form-field>
          <input matInput placeholder="surname" formControlName="surname" required #newLastName maxlength="50">
        </mat-form-field><br><br>
        <mat-form-field>
          <input matInput placeholder="email" formControlName="email" required #newEmail maxlength="50">
        </mat-form-field><br><br>
        <mat-form-field>
          <input matInput placeholder="telephone number" formControlName="telephone" required #newTelephone maxlength="20">
        </mat-form-field><br><br>
        <mat-form-field>
          <input matInput placeholder="address" formControlName="address" required #newAddress maxlength="50">
        </mat-form-field><br><br>
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username" required #newUsername maxlength="20">
        </mat-form-field><br><br>
        <mat-form-field>
          <input matInput placeholder="New password" formControlName="password" required #newPassword maxlength="20" name="newUsername">
          <mat-error *ngIf="myForm.hasError('required', 'password')">
            Please enter your new password
          </mat-error>
        </mat-form-field>
        <br><br>
        <mat-form-field>
          <input matInput placeholder="Confirm password" formControlName="confirmPassword" [errorStateMatcher]="matcher" #newVerifyPassword maxlength="20">
          <mat-error *ngIf="myForm.hasError('notSame')">
            Passwords do not match
          </mat-error>
        </mat-form-field>
      </form>
      <div class="modal-footer">
        <button type="button" id="selectSignIn" class="form-control"
          (click)="newUserRegistration(newFirstName.value, newLastName.value, newEmail.value, newTelephone.value,newAddress.value, newUsername.value, newPassword.value, newVerifyPassword.value)">Register!&nbsp;&nbsp;<i class="fa fa-spinner fa-spin"
            *ngIf="registrationLoading"></i></button>
      </div>
      <div class="modal-footer">
        <mat-label *ngIf="registrationUID == ''">{{registrationMessage}}</mat-label><br>
        <mat-label *ngIf="registrationUID != ''">New user ID {{registrationUID}}&nbsp;&nbsp;&nbsp;<i class="fa fa-user-plus" aria-hidden="true"></i></mat-label>
      </div>
    </div>
  </ng-template>
  <!-- /*   ********************************************* B O O K S H E L F  *********************************/ -->

  <!-- /*   ********************************************* C O N T A C T  *********************************/ -->
</div>
<a name="contact"></a>
<hr><br>
<div class="container">
  <h1>&contact</h1>
  <div class="row">
    <div class="col-md-12 col-lg-6 col-xl-6" id="contactDrawing">
      <form [formGroup]="myForm">
        <mat-form-field id="contactField">
          <input matInput placeholder="name" formControlName="contactName" required #name maxlength="50">
        </mat-form-field><span id="redSpan"> {{50-name.value.length}} ch</span><br><br>
        <mat-form-field id="contactField">
          <input matInput placeholder="surname" formControlName="contactSurname" required #surname maxlength="50">
        </mat-form-field><span id="redSpan"> {{50-surname.value.length}} ch</span><br><br>
        <mat-form-field id="contactField">
          <input matInput placeholder="email" formControlName="contactEmail" required #mail maxlength="50">
        </mat-form-field><span id="redSpan"> {{50-mail.value.length}} ch</span><br><br>
        <mat-form-field id="contactField">
          <textarea matInput placeholder="message" formControlName="contactMessage" #message maxlength="800"></textarea>
        </mat-form-field><span id="redSpan"> {{800-message.value.length}} ch</span><br><br>
      </form><span>{{contactFormMessage}}</span><br>
      <button type="submit" class="form-control" id="selectSignIn" name="push" value="Send!" (click)="push(name.value, surname.value, mail.value, message.value)">Send!&nbsp;&nbsp;&nbsp;<i class="fa fa-spinner fa-spin"
          *ngIf="contactSendLoading"></i></button>
    </div><br>
    <div class="col-md-12 col-lg-6 col-xl-6" id="contactImage"></div>
  </div>
</div>
<!-- /*   ********************************************* C O N T A C T  *********************************/ -->
<!-- /*   ********************************************* I K S    O K S  *********************************/ -->
<br>
<hr><a name="xo"></a>
<br><br><br>
<div class="container">
  <h1>&iks oks</h1><br>
  <div class="row">
    <div class="col-sm-12 col-lg-4">

    </div>
    <div class="col-sm-12 col-lg-4">

    </div>
    <div class="col-sm-12 col-lg-4" id="previousScoreDiv">
      <label *ngIf="!firstplay" class="xoPreviousScoreLabel">{{xoPlayerOnePrevious}}&nbsp;&nbsp;&nbsp;{{xoScoreOnePrevious}} :
          {{xoScoreTwoPrevious}}&nbsp;&nbsp;&nbsp;{{xoPlayerTwoPrevious}}</label>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-4" id="xoOne">
      <div class="grid-container">
        <div class="grid-child purple">
          <div id="xoButtonOne">
            <button [disabled]="isWinner" [style.backgroundColor]="b1Color" type="button" name="button" class="xoButton" value="first" #xoFirst (click)="xoClickedButton(xoFirst.value)">{{xoFirstButton}}</button>
          </div>
        </div>
        <div class="grid-child green">
          <div id="xoButtonTwo">
            <button [disabled]="isWinner" [style.backgroundColor]="b2Color" type="button" name="button" class="xoButton" value="second" #xoSecond (click)="xoClickedButton(xoSecond.value)">{{xoSecondButton}}</button>
          </div>
        </div>
        <div class="grid-child red">
          <div id="xoButtonThree">
            <button [disabled]="isWinner" [style.backgroundColor]="b3Color" type="button" name="button" class="xoButton" value="third" #xoThird (click)="xoClickedButton(xoThird.value)">{{xoThirdButton}}</button>
          </div>
        </div>
      </div>
      <div class="grid-container">
        <div class="grid-child purple">
          <div id="xoButtonFour">
            <button [disabled]="isWinner" [style.backgroundColor]="b4Color" type="button" name="button" class="xoButton" value="fourth" #xoFourth (click)="xoClickedButton(xoFourth.value)">{{xoFourthButton}}</button>
          </div>
        </div>
        <div class="grid-child green">
          <div id="xoButtonFive">
            <button [disabled]="isWinner" [style.backgroundColor]="b5Color" type="button" name="button" class="xoButton" value="fifth" #xoFifth (click)="xoClickedButton(xoFifth.value)">{{xoFifthButton}}</button>
          </div>
        </div>
        <div class="grid-child red">
          <div id="xoButtonSix">
            <button [disabled]="isWinner" [style.backgroundColor]="b6Color" type="button" name="button" class="xoButton" value="sixth" #xoSixth (click)="xoClickedButton(xoSixth.value)">{{xoSixthButton}}</button>
          </div>

        </div>
      </div>
      <div class="grid-container">
        <div class="grid-child purple">
          <div id="xoButtonSeven">
            <button [disabled]="isWinner" [style.backgroundColor]="b7Color" type="button" name="button" class="xoButton" value="seventh" #xoSeventh (click)="xoClickedButton(xoSeventh.value)">{{xoSeventhButton}}</button>
          </div>
        </div>
        <div class="grid-child green">
          <div id="xoButtonEight">
            <button [disabled]="isWinner" [style.backgroundColor]="b8Color" type="button" name="button" class="xoButton" value="eight" #xoEight (click)="xoClickedButton(xoEight.value)">{{xoEightButton}}</button>
          </div>
        </div>
        <div class="grid-child red">
          <div id="xoButtonNine">
            <button [disabled]="isWinner" [style.backgroundColor]="b9Color" type="button" name="button" class="xoButton" value="nineth" #xoNineth (click)="xoClickedButton(xoNineth.value)">{{xoNinethButton}}</button>
          </div>

        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4" id="xoTwo">
      <label class="ticTacToeLabel">iks me oks me baby</label>
      <form [formGroup]="TicTacToeForm">
        <mat-form-field>
          <input matInput placeholder="player 'iks'" formControlName="xoPlayerOne" #xoone maxlength="50">
        </mat-form-field><br><br>
        <mat-form-field>
          <input matInput placeholder="player 'oks'" formControlName="xoPlayerTwo" #xotwo maxlength="50">
        </mat-form-field><br><br>
      </form>
      <button type="submit" class="form-control" id="selectSignIn" name="play" value="Play!" (click)="xosubmitPlayers(xoone.value, xotwo.value)">Submit!</button>
      <hr>
      <button type="submit" class="form-control" id="selectSignIn" name="resetxo" value="R!" (click)="xoReset()">Reset!</button><br>
      <hr>
    </div>
    <div class="col-sm-12 col-lg-4" id="xoThree">
      <label class="xoScoreLabel">{{xoPlayerOne}}&nbsp;&nbsp;&nbsp;{{xoScoreOne}} : {{xoScoreTwo}}&nbsp;&nbsp;&nbsp;{{xoPlayerTwo}}</label>
      <table mat-table [dataSource]="xodataSource">
        <ng-container matColumnDef="player">
          <th mat-header-cell *matHeaderCellDef> Player </th>
          <td mat-cell *matCellDef="let row"> {{row.player}} </td>
        </ng-container>
        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef> Score </th>
          <td mat-cell *matCellDef="let row"> {{row.score}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedXOplayerStats"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedXOplayerStats;"></tr>
      </table>
      <mat-paginator #TableXOpaginator="matPaginator" [pageSizeOptions]="[5, 3]"></mat-paginator>
    </div>
  </div>
</div>
<br><br><br>
<!-- /*   ********************************************* I K S    O K S  *********************************/ -->
<hr><br>
<footer>
  <a href="#text" id="footerA"><span id="footerSpan">SvaSilaSvega &#174; by Zoran Bajcer<i class="w3-small glyphicon glyphicon-refresh w3-spin"></i> </span></a>
</footer>
